.table {
    text-align: center;
    width: 100%;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table thead th {
    font-size: .9rem;
    text-shadow: 0 0 5px hsla(120, 73.44%, 74.9%, .5);
    cursor: help;
}

.table tbody td {
    font-size: .8rem;
    cursor: default;
}

.table tbody tr.error td {
    color: red;
    padding-top: 20px;
}

.table select {
    text-align: center;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.table select::-ms-expand {
    display: none;
}

.confirm {
    color: orange;
}

.confirmed {
    color: green;
}

.cancel {
    color: red;
}

.serviced {
    color: blue;
}

.print {
    text-align: start;
    padding-top: 20px;
}

.print svg {
    font-size: 2rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.print svg:hover {
    color: green;
}

.print svg:active {
    color: blue;
}