.main {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
}

.divmain {
  position: relative;
  width: calc(100% - 200px);
  left: 200px;
  min-height: 100vh;
  display: flex;
  column-gap: 10px;
  padding: 5px;
  transition: all .4s ease-in-out;
}

.divmainforms {
  position: relative;
  width: calc(100% - 200px);
  left: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 5px;
  transition: all .4s ease-in-out;
}

.divformsearch {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media (max-width: 480px) {
  .main {
    width: 375px;
  }
}

@media (max-width: 770px) {
  .divmain {
    flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {
  .divmain,
  .divmainforms {
    width: calc(100% - 70px);
    left: 70px;
  }
}