.divbodyhome {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.divopacity {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15;

  & video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.divmainhome {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  & header {
    width: 100%;
    display: flex;
    justify-content: end;

    & a {
      padding: 10px 15px;
      transition: all 0.3s ease-in-out;
      border: 1px solid transparent;
      border-radius: 10px;
      color: black;
    }

    & a:hover {
      border-color: black;
    }
  }

  & main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    text-transform: uppercase;

    & h1 {
      font-size: 20px;
    }

    & h2 {
      font-size: 24px;
    }
  }
}

.main {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
}

.divmain {
  position: relative;
  width: calc(100% - 200px);
  left: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  transition: all .4s ease-in-out;
}

.divmain h2 {
  text-transform: capitalize;
}

.mainmenu {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  transition: all .4s ease-in-out;
  margin: 0 auto;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login h1 {
  font-size: 1rem;
  color: hsl(205.46, 86.5%, 46.47%);
  cursor: default;
  text-shadow: 0 0 5px hsla(120, 73.44%, 74.9%, .5);
}

.loginsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  border: 1px solid hsl(205.46, 86.5%, 46.47%);
  border-radius: 15px;
  box-shadow: 0 0 20px hsla(120, 73.44%, 74.9%, .5);
  margin: 0 30px;
}

.iconlogin {
  font-size: 72px;
  color: hsl(205.46, 86.5%, 46.47%);
}

.loginsection {
  flex-direction: column;
}

@media (max-width: 480px) {

  .main,
  .mainmenu {
    width: 375px;
  }
}

@media screen and (max-width: 820px),
screen and (max-height: 700px) {

  .divmain {
    width: calc(100% - 75px);
    left: 75px;
  }
}